@{
    ViewData["Title"] = "Admin Panel";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary()
    </div>
}


<div class="text-center">
    <h1 class="display-4">Admin Panel</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@model string

<form asp-controller="Admin" asp-action="ValidatePrivileges" method="post">
    <div class="form-group">
        <label for="username">Enter Your Username:</label>
        <input type="text" class="form-control" id="username" name="username">
        @if (ViewData.ModelState.ContainsKey("username"))
        {
            <div class="text-danger">
                @foreach (var error in ViewData.ModelState["username"].Errors)
                {
                    <span>@error.ErrorMessage</span>

                    <br />
                }
            </div>
        }
        <label for="password">Enter Your Password:</label>
        <input type="password" class="form-control" id="password" name="password">
        @if (ViewData.ModelState.ContainsKey("password"))
        {
            <div class="text-danger">
                @foreach (var error in ViewData.ModelState["password"].Errors)
                {
                    <span>@error.ErrorMessage</span>

                    <br />
                }
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
